.elementor-77 .elementor-element.elementor-element-2b7d1ea{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-2b7d1ea:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-2b7d1ea > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-77 .elementor-element.elementor-element-2b7d1ea, .elementor-77 .elementor-element.elementor-element-2b7d1ea::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-aed1d28{text-align:center;}.elementor-77 .elementor-element.elementor-element-aed1d28 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-weight:300;}.elementor-77 .elementor-element.elementor-element-3503ac7{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-3503ac7:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-3503ac7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EEEEEE;}.elementor-77 .elementor-element.elementor-element-3503ac7, .elementor-77 .elementor-element.elementor-element-3503ac7::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-42c15a7{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-336e863 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:300;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-82d9554{--divider-border-style:solid;--divider-color:#C5C5C5;--divider-border-width:1px;}.elementor-77 .elementor-element.elementor-element-82d9554 .elementor-divider-separator{width:66%;}.elementor-77 .elementor-element.elementor-element-82d9554 .elementor-divider{padding-block-start:2px;padding-block-end:2px;}.elementor-77 .elementor-element.elementor-element-38588c4{color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-9f479fd{text-align:left;}.elementor-77 .elementor-element.elementor-element-9f479fd img{width:39%;}.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:500;letter-spacing:2.1px;background-color:transparent;background-image:linear-gradient(150deg, #03C95C 35%, #0CA04C 70%);border-radius:5px 5px 5px 5px;padding:14px 14px 14px 14px;}.elementor-77 .elementor-element.elementor-element-af8c9d7.elementor-element{--align-self:flex-start;}.elementor-77 .elementor-element.elementor-element-281b22b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-42562c9{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-42562c9:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-42562c9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-77 .elementor-element.elementor-element-42562c9, .elementor-77 .elementor-element.elementor-element-42562c9::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-9d151cb{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-b878fbb{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-773ef51 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:300;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-33ac8b5{--divider-border-style:solid;--divider-color:#C5C5C5;--divider-border-width:1px;}.elementor-77 .elementor-element.elementor-element-33ac8b5 .elementor-divider-separator{width:66%;}.elementor-77 .elementor-element.elementor-element-33ac8b5 .elementor-divider{padding-block-start:2px;padding-block-end:2px;}.elementor-77 .elementor-element.elementor-element-aa6e3ac{color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-287a7f3{--display:flex;--min-height:536px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-287a7f3:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-287a7f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EEEEEE;}.elementor-77 .elementor-element.elementor-element-287a7f3, .elementor-77 .elementor-element.elementor-element-287a7f3::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-73cab6d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-91fff28 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:300;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-92cf425{--divider-border-style:solid;--divider-color:#C5C5C5;--divider-border-width:1px;}.elementor-77 .elementor-element.elementor-element-92cf425 .elementor-divider-separator{width:66%;}.elementor-77 .elementor-element.elementor-element-92cf425 .elementor-divider{padding-block-start:2px;padding-block-end:2px;}.elementor-77 .elementor-element.elementor-element-ab36749{color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-bef4b3b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-bef4b3b.e-con{--align-self:center;}.elementor-77 .elementor-element.elementor-element-139dd3f{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-139dd3f:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-139dd3f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-77 .elementor-element.elementor-element-139dd3f, .elementor-77 .elementor-element.elementor-element-139dd3f::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-9f4faed{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-4a6c991{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-3cd0c0c .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:300;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-dcec389{--divider-border-style:solid;--divider-color:#C5C5C5;--divider-border-width:1px;}.elementor-77 .elementor-element.elementor-element-dcec389 .elementor-divider-separator{width:66%;}.elementor-77 .elementor-element.elementor-element-dcec389 .elementor-divider{padding-block-start:2px;padding-block-end:2px;}.elementor-77 .elementor-element.elementor-element-cc8dd57{color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-02f5411{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-42b02b4{--spacer-size:10px;}.elementor-77 .elementor-element.elementor-element-9e1786b{text-align:center;}.elementor-77 .elementor-element.elementor-element-9e1786b .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:300;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-00484b6{--divider-border-style:solid;--divider-color:#C5C5C5;--divider-border-width:1px;}.elementor-77 .elementor-element.elementor-element-00484b6 .elementor-divider-separator{width:66%;margin:0 auto;margin-center:0;}.elementor-77 .elementor-element.elementor-element-00484b6 .elementor-divider{text-align:center;padding-block-start:2px;padding-block-end:2px;}.elementor-77 .elementor-element.elementor-element-4d6c12a{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-807aa40{--display:flex;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-a94f2b9{text-align:center;}.elementor-77 .elementor-element.elementor-element-a94f2b9 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:24px;font-weight:500;letter-spacing:1px;}.elementor-77 .elementor-element.elementor-element-3301d6c{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-2a9a501{text-align:center;}.elementor-77 .elementor-element.elementor-element-2a9a501 img{width:16%;}.elementor-77 .elementor-element.elementor-element-7ab8089 img{width:40%;}.elementor-77 .elementor-element.elementor-element-13c8973{text-align:center;}.elementor-77 .elementor-element.elementor-element-13c8973 .elementor-heading-title{color:#2122249C;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-c2a05e0{text-align:center;}.elementor-77 .elementor-element.elementor-element-c2a05e0 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:48px;font-weight:700;}.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;letter-spacing:2.1px;background-color:transparent;background-image:linear-gradient(150deg, #03C95C 35%, #0CA04C 70%);border-radius:5px 5px 5px 5px;padding:14px 14px 14px 14px;}.elementor-77 .elementor-element.elementor-element-aeeb9eb.elementor-element{--align-self:center;}.elementor-77 .elementor-element.elementor-element-205e047{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-d867f50{--display:flex;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-3fd9204{--display:flex;--gap:7px 7px;--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:20px;--padding-inline-end:20px;}.elementor-77 .elementor-element.elementor-element-3fd9204:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-3fd9204 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-77 .elementor-element.elementor-element-3fd9204, .elementor-77 .elementor-element.elementor-element-3fd9204::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-194f80e{text-align:center;}.elementor-77 .elementor-element.elementor-element-194f80e .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:300;}.elementor-77 .elementor-element.elementor-element-b14d8d2{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-3b45782{text-align:center;}.elementor-77 .elementor-element.elementor-element-3b45782 .elementor-heading-title{color:#2122249C;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-f03c66a{text-align:center;}.elementor-77 .elementor-element.elementor-element-f03c66a .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:48px;font-weight:700;}.elementor-77 .elementor-element.elementor-element-38a119e{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;letter-spacing:2.1px;background-color:transparent;background-image:linear-gradient(150deg, #03C95C 35%, #0CA04C 70%);border-radius:5px 5px 5px 5px;padding:14px 14px 14px 14px;}.elementor-77 .elementor-element.elementor-element-3f47ffe.elementor-element{--align-self:center;}.elementor-77 .elementor-element.elementor-element-9162eee{--display:flex;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-f113178{--display:flex;--gap:7px 7px;--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:20px;--padding-inline-end:20px;}.elementor-77 .elementor-element.elementor-element-f113178:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-f113178 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-77 .elementor-element.elementor-element-f113178, .elementor-77 .elementor-element.elementor-element-f113178::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-da255aa{text-align:center;}.elementor-77 .elementor-element.elementor-element-da255aa .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:300;}.elementor-77 .elementor-element.elementor-element-946ec34{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-0bb3364 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:#000000;border-radius:0px 0px 0px 0px;padding:8px 8px 8px 8px;}.elementor-77 .elementor-element.elementor-element-0bb3364 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-77 .elementor-element.elementor-element-d55ce06{text-align:center;}.elementor-77 .elementor-element.elementor-element-d55ce06 .elementor-heading-title{color:#2122249C;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-9f24156{text-align:center;}.elementor-77 .elementor-element.elementor-element-9f24156 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:48px;font-weight:700;}.elementor-77 .elementor-element.elementor-element-b17f763{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;letter-spacing:2.1px;background-color:transparent;background-image:linear-gradient(150deg, #03C95C 35%, #0CA04C 70%);border-radius:5px 5px 5px 5px;padding:14px 14px 14px 14px;}.elementor-77 .elementor-element.elementor-element-c117a12.elementor-element{--align-self:center;}.elementor-77 .elementor-element.elementor-element-9f0f905{--display:flex;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-cc63a81{--display:flex;--gap:7px 7px;--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:20px;--padding-inline-end:20px;}.elementor-77 .elementor-element.elementor-element-cc63a81:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-cc63a81 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-77 .elementor-element.elementor-element-cc63a81, .elementor-77 .elementor-element.elementor-element-cc63a81::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-0352280{text-align:center;}.elementor-77 .elementor-element.elementor-element-0352280 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:300;}.elementor-77 .elementor-element.elementor-element-41b58b1{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-742d1d0{text-align:center;}.elementor-77 .elementor-element.elementor-element-742d1d0 .elementor-heading-title{color:#2122249C;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-ec1a7c5{text-align:center;}.elementor-77 .elementor-element.elementor-element-ec1a7c5 .elementor-heading-title{color:#212224;font-family:"Montserrat", Sans-serif;font-size:48px;font-weight:700;}.elementor-77 .elementor-element.elementor-element-43ca11b{text-align:center;color:#212224;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:500;letter-spacing:2.1px;background-color:transparent;background-image:linear-gradient(150deg, #03C95C 35%, #0CA04C 70%);border-radius:5px 5px 5px 5px;padding:14px 14px 14px 14px;}.elementor-77 .elementor-element.elementor-element-68e46b8.elementor-element{--align-self:center;}.elementor-77 .elementor-element.elementor-element-12c7ea9{--spacer-size:10px;}.elementor-77 .elementor-element.elementor-element-f13ea32{--spacer-size:10px;}.elementor-77 .elementor-element.elementor-element-8a94d78{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-8a94d78:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-8a94d78 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-77 .elementor-element.elementor-element-8a94d78, .elementor-77 .elementor-element.elementor-element-8a94d78::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-03fbe55{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-12db873 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-12db873{width:100%;max-width:100%;}.elementor-77 .elementor-element.elementor-element-0549ee1 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-9c5fea4 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-f31e77e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-0ca56db .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-0ca56db{width:100%;max-width:100%;}.elementor-77 .elementor-element.elementor-element-efcd822 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;line-height:25px;}.elementor-77 .elementor-element.elementor-element-abf7416{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-abf7416:not(.elementor-motion-effects-element-type-background), .elementor-77 .elementor-element.elementor-element-abf7416 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-77 .elementor-element.elementor-element-abf7416, .elementor-77 .elementor-element.elementor-element-abf7416::before{--border-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-43f203c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-43f203c.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-77 .elementor-element.elementor-element-adc86c8 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-77 .elementor-element.elementor-element-adc86c8{width:var( --container-widget-width, 109.2% );max-width:109.2%;--container-widget-width:109.2%;--container-widget-flex-grow:0;}.elementor-77 .elementor-element.elementor-element-adc86c8.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-77 .elementor-element.elementor-element-a53131f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-56ce562 img{width:60%;}.elementor-77 .elementor-element.elementor-element-c39d752{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-33a50c7 img{width:60%;}.elementor-77 .elementor-element.elementor-element-50c2e2f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--background-transition:0.3s;}.elementor-77 .elementor-element.elementor-element-d4e7ff1 img{width:60%;}body.elementor-page-77:not(.elementor-motion-effects-element-type-background), body.elementor-page-77 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EEEEEE;}@media(max-width:1024px){.elementor-77 .elementor-element.elementor-element-adc86c8 .elementor-heading-title{font-size:16px;}}@media(min-width:768px){.elementor-77 .elementor-element.elementor-element-42c15a7{--width:50%;}.elementor-77 .elementor-element.elementor-element-281b22b{--width:50%;}.elementor-77 .elementor-element.elementor-element-9d151cb{--width:50%;}.elementor-77 .elementor-element.elementor-element-b878fbb{--width:50%;}.elementor-77 .elementor-element.elementor-element-73cab6d{--width:50%;}.elementor-77 .elementor-element.elementor-element-bef4b3b{--width:50%;}.elementor-77 .elementor-element.elementor-element-9f4faed{--width:50%;}.elementor-77 .elementor-element.elementor-element-4a6c991{--width:50%;}.elementor-77 .elementor-element.elementor-element-43f203c{--width:32%;}}@media(max-width:1024px) and (min-width:768px){.elementor-77 .elementor-element.elementor-element-03fbe55{--content-width:100%;}}@media(max-width:767px){.elementor-77 .elementor-element.elementor-element-aed1d28 .elementor-heading-title{font-size:19px;}.elementor-77 .elementor-element.elementor-element-3503ac7{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-42c15a7{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-block-start:15px;--padding-block-end:15px;--padding-inline-start:15px;--padding-inline-end:15px;}.elementor-77 .elementor-element.elementor-element-42c15a7.e-con{--order:99999 /* order end hack */;}.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button{font-size:18px;}.elementor-77 .elementor-element.elementor-element-281b22b{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-b878fbb{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-block-start:15px;--padding-block-end:15px;--padding-inline-start:15px;--padding-inline-end:15px;}.elementor-77 .elementor-element.elementor-element-b878fbb.e-con{--order:99999 /* order end hack */;}.elementor-77 .elementor-element.elementor-element-287a7f3{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-73cab6d{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-block-start:15px;--padding-block-end:15px;--padding-inline-start:15px;--padding-inline-end:15px;}.elementor-77 .elementor-element.elementor-element-73cab6d.e-con{--order:99999 /* order end hack */;}.elementor-77 .elementor-element.elementor-element-bef4b3b{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-139dd3f{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-9f4faed{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-77 .elementor-element.elementor-element-4a6c991{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-block-start:15px;--padding-block-end:15px;--padding-inline-start:15px;--padding-inline-end:15px;}.elementor-77 .elementor-element.elementor-element-4a6c991.e-con{--order:99999 /* order end hack */;}.elementor-77 .elementor-element.elementor-element-2a9a501 img{width:49%;}.elementor-77 .elementor-element.elementor-element-7ab8089 img{width:100%;}.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button{font-size:18px;}.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button{font-size:18px;}.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button{font-size:18px;}.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button{font-size:18px;}.elementor-77 .elementor-element.elementor-element-56ce562{text-align:left;}.elementor-77 .elementor-element.elementor-element-56ce562 img{width:40%;}.elementor-77 .elementor-element.elementor-element-33a50c7{text-align:left;}.elementor-77 .elementor-element.elementor-element-33a50c7 img{width:40%;}.elementor-77 .elementor-element.elementor-element-d4e7ff1{text-align:left;}.elementor-77 .elementor-element.elementor-element-d4e7ff1 img{width:40%;}}/* Start custom CSS for button, class: .elementor-element-af8c9d7 */.elementor-77 .elementor-element.elementor-element-af8c9d7{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.elementor-77 .elementor-element.elementor-element-af8c9d7{
    z-index: 99999;
}


.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button-icon{
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button .elementor-button-icon {
    font-size: 20px;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button-text {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-af8c9d7{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}


Só do hover: 


.elementor-77 .elementor-element.elementor-element-af8c9d7:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-af8c9d7{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-af8c9d7 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

Cortar scrol:

<script>
    const elementos = document.querySelectorAll('.scroll-left, .scroll-right, .scroll-bottom, .scroll-top');
    const posicaoScroll = window.innerHeight * 0.7;
    
    function fadeScroll(){
        elementos.forEach((elemento) => {
            const elementoTop = elemento.getBoundingClientRect().top - posicaoScroll;
        if(elementoTop < 120) {
            elemento.classList.add('ativo');
        }
        else {
            elemento.classList.remove('ativo');
        }
        })
    }
    
    window.addEventListener('scroll', fadeScroll);
</script>/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-aeeb9eb */.elementor-77 .elementor-element.elementor-element-aeeb9eb{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb{
    z-index: 99999;
}


.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button-icon{
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button .elementor-button-icon {
    font-size: 20px;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button-text {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}


Só do hover: 


.elementor-77 .elementor-element.elementor-element-aeeb9eb:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-aeeb9eb .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

Cortar scrol:

<script>
    const elementos = document.querySelectorAll('.scroll-left, .scroll-right, .scroll-bottom, .scroll-top');
    const posicaoScroll = window.innerHeight * 0.7;
    
    function fadeScroll(){
        elementos.forEach((elemento) => {
            const elementoTop = elemento.getBoundingClientRect().top - posicaoScroll;
        if(elementoTop < 120) {
            elemento.classList.add('ativo');
        }
        else {
            elemento.classList.remove('ativo');
        }
        })
    }
    
    window.addEventListener('scroll', fadeScroll);
</script>/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-3f47ffe */.elementor-77 .elementor-element.elementor-element-3f47ffe{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.elementor-77 .elementor-element.elementor-element-3f47ffe{
    z-index: 99999;
}


.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button-icon{
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button .elementor-button-icon {
    font-size: 20px;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button-text {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-3f47ffe{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}


Só do hover: 


.elementor-77 .elementor-element.elementor-element-3f47ffe:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-3f47ffe{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-3f47ffe .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

Cortar scrol:

<script>
    const elementos = document.querySelectorAll('.scroll-left, .scroll-right, .scroll-bottom, .scroll-top');
    const posicaoScroll = window.innerHeight * 0.7;
    
    function fadeScroll(){
        elementos.forEach((elemento) => {
            const elementoTop = elemento.getBoundingClientRect().top - posicaoScroll;
        if(elementoTop < 120) {
            elemento.classList.add('ativo');
        }
        else {
            elemento.classList.remove('ativo');
        }
        })
    }
    
    window.addEventListener('scroll', fadeScroll);
</script>/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-c117a12 */.elementor-77 .elementor-element.elementor-element-c117a12{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.elementor-77 .elementor-element.elementor-element-c117a12{
    z-index: 99999;
}


.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button-icon{
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button .elementor-button-icon {
    font-size: 20px;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button-text {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-c117a12:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-c117a12:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-c117a12{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}


Só do hover: 


.elementor-77 .elementor-element.elementor-element-c117a12:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-c117a12:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-c117a12{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-c117a12 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

Cortar scrol:

<script>
    const elementos = document.querySelectorAll('.scroll-left, .scroll-right, .scroll-bottom, .scroll-top');
    const posicaoScroll = window.innerHeight * 0.7;
    
    function fadeScroll(){
        elementos.forEach((elemento) => {
            const elementoTop = elemento.getBoundingClientRect().top - posicaoScroll;
        if(elementoTop < 120) {
            elemento.classList.add('ativo');
        }
        else {
            elemento.classList.remove('ativo');
        }
        })
    }
    
    window.addEventListener('scroll', fadeScroll);
</script>/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-68e46b8 */.elementor-77 .elementor-element.elementor-element-68e46b8{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.elementor-77 .elementor-element.elementor-element-68e46b8{
    z-index: 99999;
}


.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button-icon{
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button .elementor-button-icon {
    font-size: 20px;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button-text {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.elementor-77 .elementor-element.elementor-element-68e46b8:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-68e46b8:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-68e46b8{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}


Só do hover: 


.elementor-77 .elementor-element.elementor-element-68e46b8:hover {
    transform: translate(0px, -2px);
    transition: transform 0.4s;
}

.elementor-77 .elementor-element.elementor-element-68e46b8:hover .elementor-button-icon {
    animation: moveIcon 1.5s linear infinite; /* ou ajuste a duração da animação conforme necessário */
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
    }
}

.elementor-77 .elementor-element.elementor-element-68e46b8{
    width: fit-content !important;
    overflow: hidden;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button:hover::before {
  animation: brilho 1s linear;
}

.elementor-77 .elementor-element.elementor-element-68e46b8 .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #F0DAAC;
  box-shadow: 0 0 30px 20px #F0DAACaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

Cortar scrol:

<script>
    const elementos = document.querySelectorAll('.scroll-left, .scroll-right, .scroll-bottom, .scroll-top');
    const posicaoScroll = window.innerHeight * 0.7;
    
    function fadeScroll(){
        elementos.forEach((elemento) => {
            const elementoTop = elemento.getBoundingClientRect().top - posicaoScroll;
        if(elementoTop < 120) {
            elemento.classList.add('ativo');
        }
        else {
            elemento.classList.remove('ativo');
        }
        })
    }
    
    window.addEventListener('scroll', fadeScroll);
</script>/* End custom CSS */